body {
    background-image: url(../../images/dithered-imageb.png);
    background-repeat: repeat;
}

h1 {
    color: #ffb703;
    font-family: Comic Sans MS;
}

label {
    font-size: 25px;
    color: #ffb703;
}

input {
    font-size: 14;
    color: #ffb703;
}

select {
    font-size: 18px;
}
.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

ul {
    list-style-type: none;
}

li {
    position: sticky;
    font-size: 40px;
    /* transform: rotate(6deg); */
}

a:visited {
    text-decoration: none;
    color: orange;
}

a:hover {
    text-decoration: none;
    color: yellow;
}

a:focus {
    text-decoration: none;
    color: orange;
}

a:active {
    text-decoration: none;
    color: teal;
}

.star {
    scale: 1.5;
}

#back {
    scale: 1.5;
    float: left;
    position: fixed;
    top: 30px;
    left: 30px;
}

#gl-canvas {
    border: 1px solid white;
    /* Для отладки */
}
