<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="./styles/styles.css" />
    <title>Lab 11</title>
</head>

<body>
    <a id="back" href="../index.html">
      <img src="../images/back.gif">
    </a>
    <div class="center-container">
    <canvas id="canvasWebGL" width="600" height="600">Ваш браузер не поддерживает элемент canvas</canvas>
    <form>
        <label for="figure">Фигура:</label>
        <select id="figure" name="figure">
          <option value="quadrilateral">Четырехугольник</option>
          <option value="fan">Веер</option>
          <option value="pentagon">Правильный пятиугольник</option>
        </select>
    </form>
    <form>
        <label for="paintMode">Вариант закрашивания:</label>
        <select id="paintMode" name="paintMode">
          <option value="const">1. Плоское закрашивание (цвет задан константой в шейдере)</option>
          <option value="uniform">2. Плоское закрашивание (цвет передан во фрагментный шейдер через uniform-переменные из основной программы)</option>
          <option value="gradient">3. Градиентное закрашивание</option>
        </select>
    </form>
    <script src="../src/lab11.js"></script>
  </div>
</body>

</html>
