<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="./styles/styles.css" />
    <title>Green Triangle</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.8.1/gl-matrix-min.js"
        integrity="sha512-zhHQR0/H5SEBL3Wn6yYSaTTZej12z0hVZKOv3TwCUXT1z5qeqGcXJLLrbERYRScEDDpYIJhPC1fk31gqR783iQ=="
        crossorigin="anonymous" defer>
    </script>
  </head>

  <body>
    <a id="back" href="../index.html">
      <img src="../images/back.gif">
    </a>

    <div class="center-container">
      <canvas id="gl-canvas" width="800" height="600"></canvas>
      <form>
        <label for="figure">Выберите задание:</label>
          <select id="figure" name="figure">
            <option value="tetrahedron">Тетраэдр</option>
            <option value="cube-color">Куб с цветами</option>
            <option value="cube-texture">Куб с текстурами</option>
            <option value="circle">Круг</option>
          </select>
      </form>
      <label for="textureInput1">Выберите текстуру 1:</label>
      <input type="file" id="textureInput1" accept="image/png, image/jpeg" title="kys" />
      <label for="textureInput2">Выберите текстуру 2:</label>
      <input type="file" id="textureInput2" accept="image/png, image/jpeg" title="kys" />
      <button id="loadImage">Load Textures</button>
    </div>
    <script src="../src/lab12.js" type="module"></script>
  </body>
</html>
